header {
    background-color:#FAFAFA;    
    text-align: center;
    height: 50px;
    padding: 20px 0;
    color: rgb(14, 14, 170);
}

.artleft {
    float:left;
    width:31%;
    padding:15px;
    margin-top:7px;
    text-align:center;
}

.artcenter {
    width:31%;
    padding:15px;
    margin-top:7px;
}

.artright {
    float:left;
    width:31%;
    padding:15px;
    margin-top:7px;
    text-align:center;
}

footer {
    text-align: center;
}