header {
    background-color:#F2F2F2;    
    padding: 20px;
    color: rgb(14, 14, 170);
    border: 2px solid BLUE;
    border-radius: 12px;
}

.link {
    background-color: bisque;
    color: black;
    border: 2px solid burlywood;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
nav {
    overflow: hidden;
    background-color: #32;
    padding: 15px;
    margin-right:7px;
  }

  .row {
    content: "";
    display: table;
    clear: both;
  }

  .artleft {
    background-color:#FAFAFA;
    height: 500px;
    float:left;
    width:33%;
    padding:15px;
    margin-right:7px;
}

.artcenter {
    background-color:#FAFAFA;
    height: 500px;
    float: left;
    width: 33%;
    padding:15px;
    margin-left:7px;
    margin-right:14px;
}

aside {
    float: right;
    width: 25%;
    height: 1000px;
    background-color: #f1f1f1;
    padding-top: 7px;
    padding-left: 20px;
    border-radius: 12px;
}
.artdouble {
    height: 440px;
    float: left;
    background-color: #FAFAFA;
    width: 70.5%;
    padding:7px;
    margin-top:7px;

}

li {
      color-adjust: strong;
  }

footer {
    padding: 10px;
    text-align: center;
    color: black;
  }

  .rodape {

    text-align: left;
  }
